@charset "UTF-8";


* {margin:0; padding:0;}

body {
	background-color: #a5d4c0;
}

h1{
	margin:20px;
	font-size: 50px;
}

#wrap {
	margin:auto;
	width: 1000px;
}

#joinBox {
	margin:auto;
	width: 800px;
	position:relative;
	top:80px;
	border: 1px solid;
	border-radius: 30px;
	background-color: rgb(207, 207, 207);
	
	border-style:groove;
	box-shadow: 8px 8px 15px rgba( 31, 38, 135, 0.37 );
}

#joinBox table{
	margin:auto;
}

#joinBox table tr td:nth-child(1) {
	width:150px;
	height: 80px;
	line-height: 80px;
}

#joinBox table tr .textBox {
	height: 35px;
	border-radius: 10px;
	border-style: hidden;
}